<title>图片管理</title>

<%= form_tag destroy_multiple_photos_path, method: :delete do |f| %>
  <div class="photo_contents" id="photos_manage" >
    <div class="photo_display">
      <% @photos.each do |photo| %>
        <div class="photo">
          <div class="photo_image">
            <%= image_tag photo.image.url(:thumb) %>
          </div>
          <div class="photo_checkbox">
            <%= check_box_tag "photo_ids[]", photo.id %>  
          </div>
        </div> 
      <% end %>
    </div>

    <div class="photo_action">
      <%= link_to "全 选", 'javascript: void(0)', class: "photo_select", id: "select" %>
      <%= link_to "全不选", 'javascript: void(0)', class: "photo_select", id: "unselect" %>
      <%= submit_tag "删 除", class: "photo_delete", data: {confirm: '是否确认删除?'}  %>
      <%= link_to("返 回", photos_path, class: "photo_select") %>
    </div>
  </div>

<% end %>
  

