<!DOCTYPE html>
<html>
<head>
  <base />
  <title>ShareSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= "#{params[:controller]}" %>"  data-action="<%= "#{params[:action]}" %>">
<div class="window">
  <%= render "layouts/head" %>
  <div class="main">
    <div class="content">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %> 
  </div>
</div>

</body>
  <script type="text/javascript">
    var $body = $("body");
    var controller = $body.attr("data-controller");
    var action = $body.attr("data-action");
    if( Window.ScriptRun && Window.ScriptRun[controller] && Window.ScriptRun[controller][action]) {
      Window.ScriptRun[controller][action].init();
    }
  </script>
</html>
